.div
{
    width: 100%;
    height: 100vh;
    padding: 20px 20px 40px 20px;

}

.btn {
    background-color: var(--pribtn);
}

.input 
{
    padding: 7px 5px;
    width: 100%;
    border-radius: 8px;
    border:2px solid var(--hexbgclr);
}

.form
{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 10px;
}

.privacy
{
    display: flex;
    align-items: center;
    gap: 10px;
}

.privacy a 
{
    color:var(--secfontclr);
}

.ctabtn
{
    margin-top:20px;
}

.hrline
{
    display: flex;
    gap: 3px;
    align-items: center;
    margin-top: 10px;
}

.line
{
    width: 50%;
    border-bottom: 1px solid var(--hexbgclr);
}