@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --primary:#ffffff;
    --primaryfont:#000000;
    --animefont: "Plus Jakarta Sans", sans-serif;

    /* Custom font size*/

    --font-sm: 0.7rem;
    --font-md: 1.3rem;
    --font-lg: 2.0rem;
    --font-xl: 3.0rem;

    /* responsive margin */
    --margin-sm: 10px 20px;

    /* custom margin */
    --mtop-sm:10px;
    --mtop-md:20px;
    --mtop-lg:40px;
    --mtop-xl:60px;
}


html {
    font-family: var(--animefont);
    color: black;
    font-size: 10px;
}

.logo
{
    font-size: var(--font-lg);
}

.icon
{
    width: 20px;
    height:20px;
    cursor: pointer;
}

img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

 #home
 {
   width: 100%;
   height: 100vh;
   padding: var(--margin-sm);
 }

 /* styling header */

header
{
    height: 10vh;
    padding:10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

aside
{
    display: flex;
    gap: 10px;
    align-items: center;
}

aside input 
{
    display: none;
}

nav 
{
    display: none;
}
 .login
 {
    background-color: black;
    color: white;
    padding: 5px 20px;
    border-radius:15px;
    font-size: var(--font-md);
 }

 /* styling main container */

 main
 {
   width: 100%;
   height: 90vh;
   padding-top:60px;
 }

 .brief p:nth-child(1)
 {
    font-size:3rem;
    font-weight: 800;
 }

 .brief p:nth-child(2)
 {
    margin-top:var(--mtop-md);
    font-size: var(--font-md);
 }

 .cards
 {
    width: 100%;
    height: 30vh;
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin-top: var(--mtop-lg);
 }

 .item
 {
    background-color: gray;
    border-radius: 5px;
 }

 .cards .item:nth-child(1)
 {
    grid-row:1/5;
 }

 .cards .item:nth-child(2)
 {
    grid-row: 1/3;
 }

 .cards .item:nth-child(3)
 {
    grid-row: 3/5;
 }

 .btn 
 {
    width: 100%;
    display: flex;
    justify-content: center;
 }

 .btn button
 {
   margin-top:var(--mtop-md);
    padding: 10px 35px;
    background-color: #676565;
    color: white;
    border-radius: 23px;
    border: none;
 }

 /* Styling Destination section */

#destination
{
    width: 100%;
    height: 100vh;
    padding: 40px 0px;
}

#destination h1
{
    font-size: var(--font-xl);
    margin-bottom: 1.5rem;
}

select 
{
    border: none;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

#carausel
{
    width: 100%;
    height: 70%;
    border: 1px solid black;
    display: flex;
    gap: 10px;
    overflow: scroll;
    margin-bottom: 20px;
}

#carausel .item{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.item .imagewrap
{
    width: 100%;
    height: 60%;
    border-radius: 23px;
    margin-bottom: 20px;
    object-fit: cover;
}

.item .imagewrap img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 23px;
}

h3 
{
    font-size: var(--font-md);
}

.textwrap span
{
    
}
