
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


:root
{
    --prifontclr:#000000;
    --secfontclr:#646464;
    --terfontclr:#ffffff;

    /* background color */
    --pribgclr:#f6f6f6;
    --secbgclr:#f26e56;
    --terbgclr:#5594f1;
    --qtrbgclr:#ffc348;
    --pentbgclr:#52c1c5;
    --hexbgclr:#000000;

    /* font-family */
    --mainfont:"Poppins", sans-serif;
}

html 
{
    font-size: 10px;
    font-family:var(--mainfont);
}

div
{
    background-color: var(--pribgclr);
}

h1
{
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-weight:500;
}
 
p
{
    font: 1.3rem;
    margin-bottom: 10px;
}

button
{
    width: 100%;
    background-color: var(--secbgclr);
    padding:10px;
    border: none;
    border-radius: 8px;
    color:var(--terfontclr);
}